<%= form_for @comment, url: comments_path, remote: true do |f| %>
  <%= f.hidden_field :article_id, value: @article.id %>
  <% if current_user %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <br/>
  <div class="form-group label-floating">
  <%= f.label :comment, class:"control-label text-center", for:"focusedInput2" %>
  <%= f.text_area :content, class:"form-control" %>
  <p class="help-block">You should really write comment here</p>
  <%= f.submit :Submit, class:"btn btn-primary btn-raised"%>
  </div>
<% end %>
