<h4>
<% if !current_user %>
<%= link_to 'Log-in', new_session_path %>
<% else %>
Hello <%= current_user.username %>
<%= link_to 'Log-Out', session_path(current_user.id), method: "DELETE" %>
<% end %>
</h4>
 
<div class="row form-group">
  <h2>Import Articles</h2>
  <%= form_tag import_articles_path, multipart: true do %>
    <%= file_field_tag :file, class:"input-group is-empty is-fileinput is-focused"%><br>
    <div class="input-group">
    <input type="text" readonly="" class="form-control" placeholder="Browse...">
      <span class="input-group-btn input-group-sm">
       <%= submit_tag "Import", class:"btn btn-raised btn-success" %>
      </span>
  </div>
    
  <% end %>
</div>
<div class="row">
  <div class="text-right">
    <%= form_tag articles_path, :method => 'get', :remote=> true do %>
      <%= text_field_tag :search, params[:search]%>
      <%= submit_tag "Search by Title" %>
    <% end %>
  </div>
</div>
<br>
<hr>
<div class="row">
  <div class="page_links text-center">
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
  </div>
</div>
<hr>
<br/>
<div class="row">
  <div class="text-center">
    <button type="button" class="btn btn-primary btn-lg btn-raised" id="btnadd" data-target="#mnarticle">
      Add Article
      </button>
  </div>
</div>
<div class="container text-center">
  <div class="row" id="container_articles">
    <%= render @articles %>
  </div>
</div>
<%= render 'modal_add'%>


