<div class="col-md-12 center">
  <div class="col-md-4 form-group", style="padding-top: 12px">
    <%= form_tag import_articles_path, multipart: true do %>
      <%= file_field_tag :file %>
      <input type="text" readonly="" class="form-control" placeholder="Browse Import Article file here...">
      <%= submit_tag "Import", class:"btn btn-raised btn-success"  %>
    <% end %>
  </div>
  <div class="col-md-4 form-group",style="padding-top: 15px">
    <div class="page_links text-center" id="paginator">
     
    </div>
  </div>
  <br>
  <div class="col-md-4 form-group",style="padding-top: 15px">
    <div class="input-group">
      <%= form_tag articles_path, :method => 'get', :remote=> true do %>
        <%= text_field_tag :search, params[:search], class:"form-control col-md-8", placeholder:"Search Article here"%>
        <span class="input-group-button">
          <%= submit_tag "Search" , class:"btn btn-raised btn-info"%>
        </span>
        
      <% end %>
    </div>
  </div>
</div>
<hr>
<br/>
<div class="row">
  <div class="">
    <button type="button" class="btn btn-primary btn-lg btn-raised" id="btnadd" data-target="#mnarticle" style="border-radius: 100px">
      <strong>+ </strong>
      </button>
  </div>
</div>
<div class="container text-center">
  <div class="row" id="container_articles">
    <%= render @articles %>
  </div>
</div>
<%= render 'modal_add'%>