<div class="row text-center">
  <p>
    Download Article as :
    <%= link_to "Excel", article_path(format: "xls") %>
  </p>
</div>
<br>
<hr>
<div class="row text-center">
  <div class="panel panel-success">
    <div class="panel panel-heading">
      <h3><%= @article.title %></h3>
    </div>
    <div class="panel-body">
      <p><%= @article.content %></p>
      <p><%= link_to 'back to index', articles_path %></p>
      <div id="form-comment">
        <b><%= render 'form_comment' %></b>
      </div>
      <br>
      <div class="panel panel-info">
        <div class="panel panel-heading">
          <h4>Article comments</h4>
        </div>
        <div class="panel-body">
          <div id="list-comments">
            <%= render 'comments' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>