<nav class="navbar navbar-primary">
  <div class="container-fluid" style="color:  aqua">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" >Article Management</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="active" style=""><%= link_to "Home",   '/' %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <h4>
          <% if !current_user %>
            <%= link_to 'Log-in', new_session_path %>
          <% else %>
            Hello <%= current_user.username %>, 
              <%= link_to 'Log-Out', session_path(current_user.id), method: "DELETE" %>
          <% end %>
        </h4>
      </li>
      <li>
        <h4>|</h4>
      </li>
      <li>
        <h4><%= link_to "Sign Up",   '/sign_up' %></h4>
      </li>
    </ul>
    </div>
  </div>
</nav>